{{#each postArr}}
<div class="simple-div simple-div_type_post-preview">
  <a class="simple-div-header__link" href="{{ this.url }}" target="_blank">
    <div class="simple-div-header">
      <p class="simple-div-header__title">
        <img src="{{ this.post_type.icon }}" alt="post-icon" class="post-icon">
        <span>{{ this.post_type.type }} по адресу: {{ this.address }}</span>
      </p>
      <p class="simple-div-header__date">
        {{ this.created }}
      </p>
    </div>
  </a>
  <p class="simple-div-text">{{ this.text }}
  {{#if this.attached }}
    <div class="simple-div-media-section">
      {{#each this.attached }}
        {{#if this.image }}
          <img class="simple-div__image-preview" alt="post-photo" src="{{ this.src }}">
        {{else}}
          <video>
            <source src="{{ this.src }}">
          </video>
        {{/if}}
      {{/each}}
    </div>
  {{/if}}

  <div class="simple-div-footer">
    {{#if ../authed}}
      {{#if this.isLiked }}
        <div id="like{{ this._id }}" class="like-button like-button_type_active" onclick="postAct('{{ this._id }}')">
      {{else}}
        <div id="like{{ this._id }}" class="like-button" onclick="postAct('{{ this._id }}')">
      {{/if}}
    {{else}}
    <div id="like{{ this._id }}" class="like-button" onclick="toggleLogin()">
    {{/if}}
      <span class="like-button__checkmark">&#10004; </span>
      <span class="like-button__label">Полезно</span>
      <span class="like-button__count">{{ this.likes_count }}</span>
    </div>

    <a class="header__div-link" href="{{ this.url }}">
    <div class="reply-button">
      <img src="/images/icons/comment.png" alt="icon" class="button-icon">
      <span class="reply-button__count">{{ this.reply_count }}</span>
    </div>
    </a>

    <a class="comment__div-link" href="/users/{{ this.author._id }}">
    <p class="reply-button">
      Автор: &nbsp;
      <span class="hover-cursor-pointer">{{ this.author.fullname }}</span>
    </p>
    </a>

    {{#if this.isEditable}}
    <div>
      <a class="comment__div-link" onclick="deletePost('{{ this._id }}')">
          <span class="hover-cursor-pointer delete-button">&#10007;</span>
      </a>
    </div>
    {{/if}}
  </div>
</div>

{{else}}
<div class="simple-div simple-div_type_post-preview">
<p>К сожалению, по данной комбинации запроса и типа публикации результатов не найдено.</p>
</div>
{{/each}}


{{#if feedParams.skip}}
<div class="simple-div simple-div_type_post-preview next-posts" onclick="handleNextPosts(this, '{{{feedParams.sort}}}', '{{{feedParams.search}}}', '{{{feedParams.type}}}', '{{{feedParams.user}}}', '{{{feedParams.skip}}}')">
</div>
{{/if}}
